*{
   outline: 1px solid red;
}
.content{
  background-color: #FAF4FF;
  min-height: 100vh;
}


.menu-text.collapsed {
  opacity: 0;
  width: 0;
  max-width: 0;
}


.sidebar.collapsed {
  width: 60px;
}

.toggle-btn{
  position: relative;
  top: 10px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: #1abc9c;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.hover-blue:hover{
  background-color: #EBF7FE;
  border-radius: 5px;
  transform: scale(1.03);
  
}

.hover-yellow:hover{
  background-color: #FBF2AE;
  border-radius: 5px;
  transform: scale(1.03);
}

.hover-green:hover{
  background-color: #E1F6E0;
  border-radius: 5px;
  transform: scale(1.03);
}

.sidebar li{
  padding: 1.1rem 2.1rem;
  box-sizing: border-box;
  cursor: pointer;
  border-radius:20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  
  transition: background-color 0.2s ease, border-radius 0.25s ease, padding 0.1s ease;
  
}


/* teksnya */
.sidebar ul {
  list-style: none;
  padding: 0;
  transition: opacity 0.3s ease, width 0.3s ease;
}

.wrapperAtas{
  display: flex;
  z-index: 1000;
  gap: 0 rem;
  position: sticky;
  top: 0;
  text-align: center;
}

.judul{
  /*display: ;*/
  justify-content: center;
  align-content: center;
  background-color: #099D49;
  color: white;
  width: 85vw;
  padding-top: 0;
}

.wrapperAkun {
  position: relative;
  width: fit-content;
}

.akun{
  background-color: #0185DA;
  width: 15vw;
  /* somehow ini jadi defacto penentu tinggi wrapperAtas */
  height: 4vw;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center;
}

/* harus ada ginian biar blok akunnya gk ada blank space */
.akun h4{
  margin: 0;
  color: white;
  padding: 0.5rem;
}

.menuOverlay {
  position: absolute;
  top: 4.5rem;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 100;
  padding: 8px;
  width: 180px;
}

.menuOverlay button{
  color: black;
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

.menuOverlay button:hover{
  background-color: #f0f0f0;
}

.layout {
  padding-top: 0px;
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  height: 100vh;
  background-color: #faf4ff;
}

.sidebar {
  width: 220px;
  background-color: white;
  color: black;
  padding: 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: width 0.2s ease;
  position: sticky;
}

.content {
  flex: 1;
  padding: 2rem;

}
