@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.upload-btn {
  display: inline-block;
  background: #006920;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: white;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.upload-btn:hover {
  background: #005a1b;
  transform: scale(1.01);
}

.file-info {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.message-image {
  max-width: 200px;
  max-height: 200px;
  margin-top: 8px;
  border-radius: 8px;
}

.message-link {
  color: #007bff;
  text-decoration: underline;
  display: inline-block;
  margin-top: 8px;
}


.message-doc {
  margin-top: 8px;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}

.status.baru {
  background-color: #caeaff;
  color: #0185DA;
}

.status.proses {
  background-color: #f5f5c3;
  color: #aaaa3a;
}

.status.disetujui {
  background-color: #c7f5d9;
  color: #2e7d32;
}

.status.selesai {
  background-color: #e6dcf5;
  color:#6a1b9a;
}

.status.tutup {
  background-color: #9c9c9c;
  color:#1e1e1e;
}

.status.ditolak {
  background-color: #ff8181;
  color:#490707;
}
